.links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .links-container a {
    flex: 1;
    text-align: center;
    padding: 100px;
  }

  a {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }